# Limpeza e Tratamento - NaBox

## Import

In [92]:
import pandas as pd

## Leituras

In [93]:
teste = pd.read_csv('teste.csv')
treino = pd.read_csv('treino.csv')
customers = pd.read_csv('customers_dataset.csv')
geolocation = pd.read_csv('geolocation_dataset.csv')
items = pd.read_csv('order_items_dataset.csv')
payments = pd.read_csv('order_payments_dataset.csv')
reviews = pd.read_csv('order_reviews_dataset.csv')
category = pd.read_csv('product_category_name_translation.csv')
products = pd.read_csv('products_dataset.csv')
sellers = pd.read_csv('sellers_dataset.csv')

## Teste

In [94]:
teste

,order_id,customer_id,order_purchase_timestamp,order_approved_at
0,4b30d547305dc914c94aaef8f842ebc2,665529d7b38b94e83d5ddf8efa19ca3b,2018-08-10 09:22:06,2018-08-10 09:35:19
1,bd18cc55469db99cfb36886d68bb3791,0bc6abbafdd2f89eb203507e7f1fc11d,2018-06-03 14:28:31,2018-06-03 14:50:01
2,37ec91b7248a28948cfedf05c2a82b15,0443dd75d52f59a5b0061b149534737e,2017-11-29 14:08:40,2017-11-29 14:29:50
3,317e2a850e41487363a134bb3369262b,634df8e0e275262ab76a3d15a07ddbac,2018-08-14 06:34:28,2018-08-14 06:45:10
4,eb1159e15cad602c36e16646e5662b85,d37306b60a0a5c64443841a857f15928,2018-04-19 09:35:17,2018-04-19 09:52:34
...,...,...,...,...
28934,5adb5eb1fe82008e15f6eca420111c7b,b459eb1f407840a2a6538926d141687c,2018-03-31 20:20:07,2018-03-31 20:35:10
28935,7a0698ce87fc4cd3e171e7361f0bc0b5,95b18ed2e0c4328d80daed9047b6d995,2018-06-20 12:39:18,2018-06-20 13:21:08
28936,223067157b61a8e20dc19cbafe40eff6,0a60413541d00d686cf4a7cd994cc1f2,2018-01-20 20:47:34,2018-01-23 03:36:43
28937,61898b3ad4d51459e014bc6d4c2e7166,a9b67ff10261665661f54c364e82d9b2,2018-06-10 15:44:20,2018-06-11 16:42:16
28938,3e46d4c127db26ad30843bd14fcb98f7,e74a6338773e24b2e8a94d82cab4ea45,2018-04-22 01:36:52,2018-04-25 03:55:26

In [95]:
Nulos = teste[teste.isnull().any(axis=1)]
Nulos

Empty DataFrame
Columns: [order_id, customer_id, order_purchase_timestamp, order_approved_at]
Index: []

In [96]:
Duplicadas = teste[teste.duplicated()]
Duplicadas

Empty DataFrame
Columns: [order_id, customer_id, order_purchase_timestamp, order_approved_at]
Index: []

## Treino

In [97]:
treino

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,delivery_time (days),delivery_time_model (days)
0,b0e9288a209f5ec50391c140dba4c91f,e1ccb7645c1d9af9b91b6d521e0ba64a,delivered,2018-08-25 07:32:25,2018-08-25 07:45:08,2018-08-27 20:03:00,2018-08-30 21:16:34,5.57,19.69
1,c0e6116a3c6c2d732ec1b43bb7b5f307,b073fa2486ffea654bcd31968d03d8a1,delivered,2017-10-27 19:00:02,2017-10-27 19:15:19,2017-10-30 18:45:26,2017-11-01 19:32:24,5.02,12.21
2,3f484d19ccfa27aa339fac5775361ac9,a999fb2aea12464405c4f4d780ec2460,delivered,2018-05-06 15:17:31,2018-05-08 04:55:27,2018-05-08 14:12:00,2018-05-12 18:03:16,6.12,28.36
3,3f78779b80392a363a1763306be163b1,7bc5a3d6999652ec9851b05367159d3f,delivered,2018-01-23 18:19:38,2018-01-24 02:35:42,2018-01-25 17:55:38,2018-02-01 23:56:10,9.23,26.24
4,f192fe5e9b2eea0553f09566de94b5b6,e1b895b6ad2adfcbe4a314fcd073b344,delivered,2017-07-21 18:43:05,2017-07-21 18:55:09,2017-07-25 11:19:38,2017-07-26 16:55:36,4.93,12.22
...,...,...,...,...,...,...,...,...,...
67518,0d3a8a92f8bf8e1824f9460268920966,31e6809dc113df6b2a79119065ffa489,delivered,2017-11-27 12:32:41,2017-11-27 12:55:09,2017-11-30 16:51:42,2017-12-04 14:12:04,7.07,13.48
67519,77c75c0f9b0b1c5417b62c696c4734e5,e8b9bdf215893d907b9c19990c5abd23,delivered,2017-01-16 23:03:40,2017-01-16 23:15:08,2017-01-17 14:16:54,2017-01-24 17:06:00,7.75,44.04
67520,a4d50b937362e8e372a220a53489d59f,866abfca22fc51feacb9e9b1e8746632,delivered,2018-05-01 18:28:01,2018-05-01 18:54:08,2018-05-02 07:58:00,2018-05-11 02:05:27,9.32,27.23
67521,f810273bc84ceae52faa5a78522cd46d,6b8d7030c9c54921934afe7ec1cbe2e1,delivered,2018-02-22 17:06:07,2018-02-24 12:50:22,2018-02-27 20:21:42,2018-03-10 19:28:45,16.10,26.29
67522,7e58d43378f4a2f37979592dbffac279,9fe891b80c54c35613d1c6c1b0431072,delivered,2017-06-14 13:56:57,2017-06-14 14:10:18,2017-06-14 15:16:23,2017-06-19 07:04:15,4.71,22.42

In [98]:
Nulos = treino[treino.isnull().any(axis=1)]
Nulos

Empty DataFrame
Columns: [order_id, customer_id, order_status, order_purchase_timestamp, order_approved_at, order_delivered_carrier_date, order_delivered_customer_date, delivery_time (days), delivery_time_model (days)]
Index: []

In [99]:
Duplicadas = treino[treino.duplicated()]
Duplicadas

Empty DataFrame
Columns: [order_id, customer_id, order_status, order_purchase_timestamp, order_approved_at, order_delivered_carrier_date, order_delivered_customer_date, delivery_time (days), delivery_time_model (days)]
Index: []

## Customers

In [100]:
customers

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP
...,...,...,...,...,...
99436,17ddf5dd5d51696bb3d7c6291687be6f,1a29b476fee25c95fbafc67c5ac95cf8,3937,sao paulo,SP
99437,e7b71a9017aa05c9a7fd292d714858e8,d52a67c98be1cf6a5c84435bd38d095d,6764,taboao da serra,SP
99438,5e28dfe12db7fb50a4b2f691faecea5e,e9f50caf99f032f0bf3c55141f019d99,60115,fortaleza,CE
99439,56b18e2166679b8a959d72dd06da27f9,73c2643a0a458b49f58cea58833b192e,92120,canoas,RS
99440,274fa6071e5e17fe303b9748641082c8,84732c5050c01db9b23e19ba39899398,6703,cotia,SP

In [101]:
Nulos = customers[customers.isnull().any(axis=1)]
Nulos

Empty DataFrame
Columns: [customer_id, customer_unique_id, customer_zip_code_prefix, customer_city, customer_state]
Index: []

In [102]:
Duplicadas = customers[customers.duplicated()]
Duplicadas

Empty DataFrame
Columns: [customer_id, customer_unique_id, customer_zip_code_prefix, customer_city, customer_state]
Index: []

## Geolocation

In [103]:
geolocation

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,1037,-23.545621,-46.639292,sao paulo,SP
1,1046,-23.546081,-46.644820,sao paulo,SP
2,1046,-23.546129,-46.642951,sao paulo,SP
3,1041,-23.544392,-46.639499,sao paulo,SP
4,1035,-23.541578,-46.641607,sao paulo,SP
...,...,...,...,...,...
1000158,99950,-28.068639,-52.010705,tapejara,RS
1000159,99900,-27.877125,-52.224882,getulio vargas,RS
1000160,99950,-28.071855,-52.014716,tapejara,RS
1000161,99980,-28.388932,-51.846871,david canabarro,RS
1000162,99950,-28.070104,-52.018658,tapejara,RS

In [104]:
Nulos = geolocation[geolocation.isnull().any(axis=1)]
Nulos

Empty DataFrame
Columns: [geolocation_zip_code_prefix, geolocation_lat, geolocation_lng, geolocation_city, geolocation_state]
Index: []

In [105]:
Duplicadas = geolocation[geolocation.duplicated()]
Duplicadas

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
15,1046,-23.546081,-46.644820,sao paulo,SP
44,1046,-23.546081,-46.644820,sao paulo,SP
65,1046,-23.546081,-46.644820,sao paulo,SP
66,1009,-23.546935,-46.636588,sao paulo,SP
67,1046,-23.546081,-46.644820,sao paulo,SP
...,...,...,...,...,...
1000153,99970,-28.343273,-51.873734,ciriaco,RS
1000154,99950,-28.070493,-52.011342,tapejara,RS
1000159,99900,-27.877125,-52.224882,getulio vargas,RS
1000160,99950,-28.071855,-52.014716,tapejara,RS
1000162,99950,-28.070104,-52.018658,tapejara,RS

PossuÃ­mos muitas linhas duplicadas. A partir disso, removeremos essas linhas para melhor organizaÃ§Ã£o

In [106]:
geolocation_cl=geolocation.drop_duplicates().reset_index(drop=True)
geolocation_cl

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,1037,-23.545621,-46.639292,sao paulo,SP
1,1046,-23.546081,-46.644820,sao paulo,SP
2,1046,-23.546129,-46.642951,sao paulo,SP
3,1041,-23.544392,-46.639499,sao paulo,SP
4,1035,-23.541578,-46.641607,sao paulo,SP
...,...,...,...,...,...
738327,99965,-28.180655,-52.034367,agua santa,RS
738328,99950,-28.072188,-52.011272,tapejara,RS
738329,99950,-28.068864,-52.012964,tapejara,RS
738330,99950,-28.068639,-52.010705,tapejara,RS
738331,99980,-28.388932,-51.846871,david canabarro,RS

## Items

In [107]:
items

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14
...,...,...,...,...,...,...,...
112645,fffc94f6ce00a00581880bf54a75a037,1,4aa6014eceb682077f9dc4bffebc05b0,b8bc237ba3788b23da09c0f1f3a3288c,2018-05-02 04:11:01,299.99,43.41
112646,fffcd46ef2263f404302a634eb57f7eb,1,32e07fd915822b0765e448c4dd74c828,f3c38ab652836d21de61fb8314b69182,2018-07-20 04:31:48,350.00,36.53
112647,fffce4705a9662cd70adb13d4a31832d,1,72a30483855e2eafc67aee5dc2560482,c3cfdc648177fdbbbb35635a37472c53,2017-10-30 17:14:25,99.90,16.95
112648,fffe18544ffabc95dfada21779c9644f,1,9c422a519119dcad7575db5af1ba540e,2b3e4a2a3ea8e01938cabda2a3e5cc79,2017-08-21 00:04:32,55.99,8.72
112649,fffe41c64501cc87c801fd61db3f6244,1,350688d9dc1e75ff97be326363655e01,f7ccf836d21b2fb1de37564105216cc1,2018-06-12 17:10:13,43.00,12.79

In [108]:
Nulos = items[items.isnull().any(axis=1)]
Nulos

Empty DataFrame
Columns: [order_id, order_item_id, product_id, seller_id, shipping_limit_date, price, freight_value]
Index: []

In [109]:
Duplicadas = items[items.duplicated()]
Duplicadas

Empty DataFrame
Columns: [order_id, order_item_id, product_id, seller_id, shipping_limit_date, price, freight_value]
Index: []

## Payments

In [110]:
payments

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45
...,...,...,...,...,...
103881,0406037ad97740d563a178ecc7a2075c,1,boleto,1,363.31
103882,7b905861d7c825891d6347454ea7863f,1,credit_card,2,96.80
103883,32609bbb3dd69b3c066a6860554a77bf,1,credit_card,1,47.77
103884,b8b61059626efa996a60be9bb9320e10,1,credit_card,5,369.54
103885,28bbae6599b09d39ca406b747b6632b1,1,boleto,1,191.58

In [111]:
Nulos = payments[payments.isnull().any(axis=1)]
Nulos

Empty DataFrame
Columns: [order_id, payment_sequential, payment_type, payment_installments, payment_value]
Index: []

In [112]:
Duplicadas = payments[payments.duplicated()]
Duplicadas

Empty DataFrame
Columns: [order_id, payment_sequential, payment_type, payment_installments, payment_value]
Index: []

## Reviews

In [113]:
reviews

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18 00:00:00,2018-01-18 21:46:59
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,NaN,NaN,2018-03-10 00:00:00,2018-03-11 03:05:13
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,NaN,NaN,2018-02-17 00:00:00,2018-02-18 14:36:24
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,NaN,Recebi bem antes do prazo estipulado.,2017-04-21 00:00:00,2017-04-21 22:02:06
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,NaN,ParabÃ©ns lojas lannister adorei comprar pela I...,2018-03-01 00:00:00,2018-03-02 10:26:53
...,...,...,...,...,...,...,...
99219,574ed12dd733e5fa530cfd4bbf39d7c9,2a8c23fee101d4d5662fa670396eb8da,5,NaN,NaN,2018-07-07 00:00:00,2018-07-14 17:18:30
99220,f3897127253a9592a73be9bdfdf4ed7a,22ec9f0669f784db00fa86d035cf8602,5,NaN,NaN,2017-12-09 00:00:00,2017-12-11 20:06:42
99221,b3de70c89b1510c4cd3d0649fd302472,55d4004744368f5571d1f590031933e4,5,NaN,"Excelente mochila, entrega super rÃ¡pida. Super...",2018-03-22 00:00:00,2018-03-23 09:10:43
99222,1adeb9d84d72fe4e337617733eb85149,7725825d039fc1f0ceb7635e3f7d9206,4,NaN,NaN,2018-07-01 00:00:00,2018-07-02 12:59:13
99223,efe49f1d6f951dd88b51e6ccd4cc548f,90531360ecb1eec2a1fbb265a0db0508,1,NaN,"meu produto chegou e ja tenho que devolver, po...",2017-07-03 00:00:00,2017-07-03 21:01:49

NÃ£o analisaremos nulos, pois Ã© aceitÃ¡vel ter elementos nulos nas linhas.

In [114]:
Duplicadas = reviews[reviews.duplicated()]
Duplicadas

Empty DataFrame
Columns: [review_id, order_id, review_score, review_comment_title, review_comment_message, review_creation_date, review_answer_timestamp]
Index: []

## Category

In [115]:
category

            product_category_name product_category_name_english
0                    beleza_saude                 health_beauty
1          informatica_acessorios         computers_accessories
2                      automotivo                          auto
3                 cama_mesa_banho                bed_bath_table
4                moveis_decoracao               furniture_decor
..                            ...                           ...
66                         flores                       flowers
67             artes_e_artesanato         arts_and_craftmanship
68                fraldas_higiene           diapers_and_hygiene
69  fashion_roupa_infanto_juvenil     fashion_childrens_clothes
70             seguros_e_servicos         security_and_services

[71 rows x 2 columns]

In [116]:
Nulos = category[category.isnull().any(axis=1)]
Nulos

Empty DataFrame
Columns: [product_category_name, product_category_name_english]
Index: []

In [117]:
Duplicadas = category[category.duplicated()]
Duplicadas

Empty DataFrame
Columns: [product_category_name, product_category_name_english]
Index: []

## Products

In [118]:
products = products.drop(["product_name_lenght","product_description_lenght","product_photos_qty"], axis=1)
products

,product_id,product_category_name,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,bebes,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,625.0,20.0,17.0,13.0
...,...,...,...,...,...,...
32946,a0b7d5a992ccda646f2d34e418fff5a0,moveis_decoracao,12300.0,40.0,40.0,40.0
32947,bf4538d88321d0fd4412a93c974510e6,construcao_ferramentas_iluminacao,1700.0,16.0,19.0,16.0
32948,9a7c6041fa9592d9d9ef6cfe62a71f8c,cama_mesa_banho,1400.0,27.0,7.0,27.0
32949,83808703fc0706a22e264b9d75f04a2e,informatica_acessorios,700.0,31.0,13.0,20.0
32950,106392145fca363410d287a815be6de4,cama_mesa_banho,2083.0,12.0,2.0,7.0

In [119]:
Nulos = products[products.isnull().any(axis=1)]
Nulos

,product_id,product_category_name,product_weight_g,product_length_cm,product_height_cm,product_width_cm
105,a41e356c76fab66334f36de622ecbd3a,NaN,650.0,17.0,14.0,12.0
128,d8dee61c2034d6d075997acef1870e9b,NaN,300.0,16.0,7.0,20.0
145,56139431d72cd51f19eb9f7dae4d1617,NaN,200.0,20.0,20.0,20.0
154,46b48281eb6d663ced748f324108c733,NaN,18500.0,41.0,30.0,41.0
197,5fb61f482620cb672f5e586bb132eae9,NaN,300.0,35.0,7.0,12.0
...,...,...,...,...,...,...
32515,b0a0c5dd78e644373b199380612c350a,NaN,1800.0,30.0,20.0,70.0
32589,10dbe0fbaa2c505123c17fdc34a63c56,NaN,800.0,30.0,10.0,23.0
32616,bd2ada37b58ae94cc838b9c0569fecd8,NaN,200.0,21.0,8.0,16.0
32772,fa51e914046aab32764c41356b9d4ea4,NaN,1300.0,45.0,16.0,45.0
32852,c4ceee876c82b8328e9c293fa0e1989b,NaN,700.0,28.0,3.0,43.0

As informaÃ§Ãµes nulas nÃ£o sÃ£o relevantes, nÃ£o exigindo, portanto, a remoÃ§Ã£o dessas linhas.

In [120]:
Duplicadas = products[products.duplicated()]
Duplicadas

Empty DataFrame
Columns: [product_id, product_category_name, product_weight_g, product_length_cm, product_height_cm, product_width_cm]
Index: []

## Sellers

In [121]:
sellers

,seller_id,seller_zip_code_prefix,seller_city,seller_state
0,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP
1,d1b65fc7debc3361ea86b5f14c68d2e2,13844,mogi guacu,SP
2,ce3ad9de960102d0677a81f5d0bb7b2d,20031,rio de janeiro,RJ
3,c0f3eea2e14555b6faeea3dd58c1b1c3,4195,sao paulo,SP
4,51a04a8a6bdcb23deccc82b0b80742cf,12914,braganca paulista,SP
...,...,...,...,...
3090,98dddbc4601dd4443ca174359b237166,87111,sarandi,PR
3091,f8201cab383e484733266d1906e2fdfa,88137,palhoca,SC
3092,74871d19219c7d518d0090283e03c137,4650,sao paulo,SP
3093,e603cf3fec55f8697c9059638d6c8eb5,96080,pelotas,RS
3094,9e25199f6ef7e7c347120ff175652c3b,12051,taubate,SP

In [122]:
Nulos = sellers[sellers.isnull().any(axis=1)]
Nulos

Empty DataFrame
Columns: [seller_id, seller_zip_code_prefix, seller_city, seller_state]
Index: []

In [123]:
Duplicadas = sellers[sellers.duplicated()]
Duplicadas

Empty DataFrame
Columns: [seller_id, seller_zip_code_prefix, seller_city, seller_state]
Index: []

## Merge

In [134]:
df = pd.merge(items, products, on='product_id', how='inner')
df.drop(['order_item_id'], axis=1)
df = pd.merge(df, sellers, on='seller_id', how="inner")
df = pd.merge(df, payments, on='order_id', how='inner')
df = pd.merge(df, teste, on='order_id', how='inner')
df = pd.merge(df, customers, on='customer_id', how='inner')
df

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,product_category_name,product_weight_g,product_length_cm,...,payment_type,payment_installments,payment_value,customer_id,order_purchase_timestamp,order_approved_at,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79,perfumaria,200.0,16.0,...,credit_card,2,25.78,d4eb9395c8c0431ee92fce09860c5a06,2018-08-08 10:00:35,2018-08-08 10:10:18,af861d436cfc08b2c2ddefd0ba074622,12952,atibaia,SP
1,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14,ferramentas_jardim,3750.0,35.0,...,credit_card,3,218.04,58dbd0b2d70206bf40e62cd34e84d795,2017-02-04 13:57:51,2017-02-04 14:10:13,64b576fb70d441e8f1b2d7d446e483c5,13226,varzea paulista,SP
2,000576fe39319847cbb9d288c5617fa6,1,557d850972a7d6f792fd18ae1400d9b6,5996cddab893a4652a15592fb58ab8db,2018-07-10 12:30:45,810.00,70.75,ferramentas_jardim,13805.0,35.0,...,credit_card,10,880.75,9ed5e522dd9dd85b4af4a077526d8117,2018-07-04 12:08:27,2018-07-05 16:35:48,fda4476abb6307ab3c415b7e6d026526,11702,praia grande,SP
3,0006ec9db01a64e59a68b2c340bf65a7,1,99a4788cb24856965c36a24e339b6058,4a3ca9315b744ce9f8e9374361493884,2018-07-26 17:24:20,74.00,23.32,cama_mesa_banho,1383.0,50.0,...,credit_card,4,97.32,5d178120c29c61748ea95bac23cb8f25,2018-07-24 17:04:17,2018-07-24 17:24:20,7ed0ea20347f67fe61d1c99fdf8556ae,21810,rio de janeiro,RJ
4,0009792311464db532ff765bf7b182ae,1,8cab8abac59158715e0d70a36c807415,530ec6109d11eaaf87999465c6afee01,2018-08-17 12:15:10,99.90,27.65,esporte_lazer,1050.0,40.0,...,boleto,1,127.55,2a30c97668e81df7c17a8b14447aeeba,2018-08-14 20:43:09,2018-08-15 12:15:10,4987996ddcd0ddb20740fdce7c2bfbb1,37137,alfenas,MG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34548,fffb9224b6fc7c43ebb0904318b10b5f,1,43423cdffde7fda63d0414ed38c11a73,b1fc4f64df5a0e8b6913ab38803c57a9,2017-11-03 02:55:58,55.00,34.19,relogios_presentes,350.0,16.0,...,boleto,1,356.76,4d3abb73ceb86353aeadbe698aa9d5cb,2017-10-27 16:51:00,2017-10-28 02:55:58,f736308cd9952b33b90b9fe94da9c8f5,56912,serra talhada,PE
34549,fffb9224b6fc7c43ebb0904318b10b5f,2,43423cdffde7fda63d0414ed38c11a73,b1fc4f64df5a0e8b6913ab38803c57a9,2017-11-03 02:55:58,55.00,34.19,relogios_presentes,350.0,16.0,...,boleto,1,356.76,4d3abb73ceb86353aeadbe698aa9d5cb,2017-10-27 16:51:00,2017-10-28 02:55:58,f736308cd9952b33b90b9fe94da9c8f5,56912,serra talhada,PE
34550,fffb9224b6fc7c43ebb0904318b10b5f,3,43423cdffde7fda63d0414ed38c11a73,b1fc4f64df5a0e8b6913ab38803c57a9,2017-11-03 02:55:58,55.00,34.19,relogios_presentes,350.0,16.0,...,boleto,1,356.76,4d3abb73ceb86353aeadbe698aa9d5cb,2017-10-27 16:51:00,2017-10-28 02:55:58,f736308cd9952b33b90b9fe94da9c8f5,56912,serra talhada,PE
34551,fffb9224b6fc7c43ebb0904318b10b5f,4,43423cdffde7fda63d0414ed38c11a73,b1fc4f64df5a0e8b6913ab38803c57a9,2017-11-03 02:55:58,55.00,34.19,relogios_presentes,350.0,16.0,...,boleto,1,356.76,4d3abb73ceb86353aeadbe698aa9d5cb,2017-10-27 16:51:00,2017-10-28 02:55:58,f736308cd9952b33b90b9fe94da9c8f5,56912,serra talhada,PE
34552,fffe41c64501cc87c801fd61db3f6244,1,350688d9dc1e75ff97be326363655e01,f7ccf836d21b2fb1de37564105216cc1,2018-06-12 17:10:13,43.00,12.79,cama_mesa_banho,600.0,30.0,...,credit_card,1,55.79,96d649da0cc4ff33bb408b199d4c7dcf,2018-06-09 17:00:18,2018-06-09 17:10:13,cd76a00d8e3ca5e6ab9ed9ecb6667ac4,18605,botucatu,SP

In [132]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 117601 entries, 0 to 117600
Data columns (total 19 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   order_id                117601 non-null  object
 1   order_item_id           117601 non-null  int64
 2   product_id              117601 non-null  object
 3   seller_id               117601 non-null  object
 4   shipping_limit_date     117601 non-null  object
 5   price                   117601 non-null  float64
 6   freight_value           117601 non-null  float64
 7   product_category_name   115903 non-null  object
 8   product_weight_g        117581 non-null  float64
 9   product_length_cm       117581 non-null  float64
 10  product_height_cm       117581 non-null  float64
 11  product_width_cm        117581 non-null  float64
 12  seller_zip_code_prefix  117601 non-null  int64
 13  seller_city             117601 non-null  object
 14  seller_state            117601 non-null  object
 15  payment_sequential      117601 non-null  int64
 16  payment_type            117601 non-null  object
 17  payment_installments    117601 non-null  int64
 18  payment_value           117601 non-null  float64
dtypes: float64(7), int64(4), object(8)
memory usage: 17.0+ MB